* {
  font-family: "Inter", sans-serif !important;
}

body {
  background: radial-gradient(circle at top, #100e30, #000000) !important;
}
.gradio-container {
  background: transparent !important;
  color: white !important;
}

label {
  background: transparent !important;
  color: white !important;
  font-weight: 500;
  font-size: 16px;
}
textarea,
input,
select {
  background: transparent !important;
  color: white !important;
  border-radius: 10px !important;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateX(220px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes vinyleEntry {
  0% {
    transform: translate(-60%, -50%);
  }
  100% {
    transform: translate(3%, -50%);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

#landing {
  margin: auto;
  padding: 20px 50px;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(79, 70, 229, 0.9);
  border-radius: 26px;
  box-shadow: 0 0 200px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
}

.gr-html,
.gr-html > .wrap {
  isolation: unset !important;
  background: transparent !important;
}
.aurora-container {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0 10px 0;
  overflow: hidden;
  display: inline-block;
}
.aurora-title {
  font-size: 48px !important;
  font-weight: 900;
  letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 1) !important;
  margin: 0;
}
.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken !important;
  pointer-events: none;
}
.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: #00c2ff;
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(1rem);
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}
.aurora__item:nth-of-type(2) {
  background-color: #ffc640;
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}
.aurora__item:nth-of-type(3) {
  background-color: #33ff8c;
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}
.aurora__item:nth-of-type(4) {
  background-color: #e54cff;
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

#landing-container {
  position: relative;
  width: 100%;
  height: 250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}
#landing-text {
  width: 200px;
  text-align: right;
  font-size: 16px !important;
  position: absolute;
  left: 30px;
  color: white;
  right: 0;
  opacity: 0;
  animation: fadeInText 2s forwards 0.5s;
}
#landing-text hr {
  border: 1px solid #ffffff;
  width: 60px;
  margin: 10px 0 10px auto;
}
#landing-logo,
#landing-logo .gr-image,
#landing-logo .wrap,
#landing-logo .container {
  width: 190px;
  height: 190px;
  z-index: 2;
  position: relative;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
#landing-vinyle-wrapper {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 188px;
  height: 188px;
  animation: vinyleEntry 2s ease forwards 0.5s;
}
#landing-vinyle {
  width: 188px;
  height: 188px;
  border-radius: 50%;
  animation: spin 10s linear infinite;
}

.landing-enter-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#enter-btn {
  height: 50px !important;
  width: 200px !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  border-radius: 50px !important;
  background: rgb(79, 70, 229) !important;
  color: white !important;
}
#enter-btn:hover {
  background: transparent !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #4f46e5 !important;
}

#main-page {
  padding: 5px 8vw 10px 8vw;
  justify-content: center;
  align-items: center;
}

.header-container {
  margin: 0px 100px 40px 100px;
  width: 600px;
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(79, 70, 229, 0.9);
  border-radius: 50px;
  box-shadow: 0 0 35px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
}

.header {
  padding: 0px 20px;
  height: 70px;
  width: 600px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
#app-logo {
  width: 80px;
  height: 80px;
  background: transparent !important;
}
#header-text {
  max-width: 500px;
  color: white;
  font-size: 16px !important;
}

.neon-box {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(79, 70, 229, 0.9) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 18px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
}
#submit-btn {
  margin: 10px 0px;
  background: linear-gradient(90deg, #4f46e5, #de1a9c) !important;
  color: white !important;
  height: 30px !important;
  width: 130px !important;
  border-radius: 50px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
#submit-btn:hover {
  background: transparent !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #4f46e5 !important;
}

.final-result-container {
  margin: 50px;
  padding: 20px;
  background: transparent !important;
  border: 1px solid rgba(79, 70, 229, 0.9) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 200px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
  overflow: hidden;
}

#vinyle-and-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 40px !important;
  overflow: hidden;
}
.vinyle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#vinyle {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: transparent !important;
  border-radius: 50%;
  animation: spin 10s linear infinite;
}
#final-title-box {
  margin: 15px 0;
  height: 150px;
  width: 100%;
  text-align: left;
  font-size: 20px !important;
  color: white !important;
  overflow: hidden;
}
#final-title-box div {
  height: 150px;
  font-size: 20px !important;
  color: white !important;
  text-align: left;
  overflow: hidden;
}
#final-result-text {
  font-size: 20px !important;
  letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);
}
.neon-box {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(79, 70, 229, 0.9) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 18px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
}
.youtube-iframe-container {
  padding: 10px;
  margin: 5px 0px;
  min-height: 505px !important;
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(79, 70, 229, 0.9) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 35px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
}
.spotify-link-container {
  padding: 5px;
  margin: 5px 0px;
  flex: 0 0 100px !important;
  min-height: 505px !important;
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(79, 70, 229, 0.9) !important;
  border-radius: 25px !important;
  box-shadow: 0 0 35px rgba(79, 70, 229, 0.5);
  backdrop-filter: blur(6px);
}

.back_clear_btn {
  margin: 10px 0px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  gap: 15px !important;
  width: auto !important;
  max-width: fit-content !important;
}
#back-btn {
  background: #505050 !important;
  color: white !important;
  height: 30px !important;
  width: 130px !important;
  font-size: 16px !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
}
#back-btn:hover {
  background: transparent !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #505050 !important;
}
#clear-btn {
  background: #505050 !important;
  color: white !important;
  height: 30px !important;
  width: 130px !important;
  font-size: 16px !important;
  border-radius: 50px !important;
  font-weight: 500 !important;
}
#clear-btn:hover {
  background: transparent !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #505050 !important;
}
